:root {
  --main-white: #f0f0f0;
  --light-white: rgba(240, 240, 240, 0.5);
  --main-red: #be3144;
  --main-blue: #45567d;
  --aqua-blue: hsl(180, 100%, 52%);
  --main-gray: #303841;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  position: relative;
}

div.container {
  padding: 0;
  margin: 0;
  flex-direction: column;
  text-align: left;
}

#letters {
  display: block;
  font-size: 10.21rem;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
  color: black;
}

h1,
h2 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

.logo {
  max-width: 178px;
  margin-top: -7rem;
}

.nav1 {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-gray);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

#nav-list {
  opacity: 0;
}

#nav-list.m-fadeIn {
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
}

.nav-list a {
  display: block;
  font-size: 2.74rem;
  letter-spacing: 2px;
  padding: 1.75rem 2.75rem 1.75rem 1.75rem;
  font-family: "Bebas Neue", cursive;
}

.nav-list a:hover {
  text-decoration: underline;
  text-decoration-color: var(--aqua-blue);
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  color: var(--main-white);
}

.nav-list a.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--aqua-blue);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(images/bkgd5smallernew.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-section img.logo {
  opacity: 0;
}

.welcome-section img.logo.m-fadeIn {
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}

.pricing-section {
  text-align: center;
  padding: 7rem 2rem 3rem 2rem;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.projects-section {
  text-align: center;
  padding: 7rem 2rem 3rem 2rem;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.projects-section-header {
  max-width: 640px;
  margin: 2.75rem auto 0.25rem auto;
}

.bottom-line {
  height: 3px;
  width: 15rem;
  background: var(--aqua-blue);
  display: block;
  margin: 0 auto 2.5rem auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem;
  width: 97%;
  margin: 0 auto;
}

@media only screen and (max-width: 1150px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 775px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.container-2 {
  background: transparent;
  padding-top: 3rem;
}

.container-3 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 66.66%;
  -webkit-filter: grayscale(100%);
  z-index: -9999999999999999999999999px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container-3:hover {
  -webkit-filter: grayscale(0%);
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.btn {
  position: relative;
  color: var(--aqua-blue);
  /*width: 256px;
  height: 64px;
  line-height: 58px; */
  font-size: 2.1rem;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    transform: scale(1, 1);
  }
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(10, 255, 255, 0.5);
}

span.icon {
  font-size: 0;
}

.btn-two:hover span.icon {
  font-size: 2.1rem;
  color: var(--aqua-blue);
}

.btn-two:hover span.text {
  font-size: 0;
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after,
.btn-two:hover::before {
  /*left: 96px;
  width: 64px; */

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

#packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  flex: 1 0 28%; /*grow | shrink | basis */
  margin: 20px;
  max-width: 390px;
  border-radius: 10px;
  border: 1.5px solid white;
}

.product > .level {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: black;
  padding: 15px 0;
  width: 100%;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
  font-size: 3.3rem;
  background-image: url(images/bkgd5smallestb.jpg);
}

.product > h2 {
  margin-top: 15px;
  font-size: 3.4rem;
}

.product > ul > li {
  font-size: 2rem;
  padding: 3px 0;
}

#pnotes {
  max-width: 625px;
  margin: 2rem auto 2rem auto;
}

.pnotes {
  text-align: left;
  line-height: 2.2rem;
}

.indivnote {
  margin-bottom: 1.8rem;
}

#picons {
  font-size: 3.375rem;
  color: var(--aqua-blue);
  margin-bottom: 3rem;
  display: block;
  float: left;
  margin-right: 2.3rem;
}

@media (max-width: 600px) {
  #packages {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.contact-section {
  display: grid;
  grid-template-areas:
    "contact-section-header"
    "message"
    "form";
  grid-gap: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section .bottom-line {
  margin-bottom: -12rem;
  padding-bottom: 0;
}

.contact-section-header {
  margin: 0 auto;
  padding-bottom: 0;
}

.contact-section h2 {
  padding-top: 0;
  max-width: 800px;
}

.contact-section p {
  margin-bottom: 0;
  margin-top: 0.3em;
}

.message {
  margin-top: -34.25rem;
  font-size: 2.1rem;
  margin-bottom: -22.25rem;
}

.message i {
  font-size: 2.05rem;
}

.message i:hover {
  color: var(--main-white);
}

.form {
  justify-self: center;
  font-size: 2.1rem;
  margin-top: -18rem;
  margin-bottom: -8rem;
}

#contact-a .text-fields {
  display: grid;
  grid-template-areas:
    "name email"
    "subject phone"
    "message message";
  grid-gap: 1.2rem;
  margin-bottom: 0.1rem;
}

#contact-a .text-fields .name-input {
  grid-area: name;
}
#contact-a .text-fields .subject-input {
  grid-area: subject;
}
#contact-a .text-fields .email-input {
  grid-area: email;
}
#contact-a .text-fields .phone-input {
  grid-area: phone;
}
#contact-a .text-fields .message-input {
  grid-area: message;
  height: 100px;
}
#contact-a .text-fields .text-input {
  padding: 0.5rem 1rem;
}

#contact-a button[type="submit"] {
  display: block;
  margin: 0 auto;
}

.btn-three::before,
.btn-three::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(10, 255, 255, 0.5);
}

.btn-three:hover span.icon {
  font-size: 2.1rem;
  color: var(--aqua-blue);
}

.btn-three:hover span.text {
  font-size: 0;
}

.btn-three:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-three:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-three:hover::after,
.btn-three:hover::before {
  /*left: 96px;
  width: 64px;*/

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  padding: 0.38rem;
  font-size: 1.75rem;
  background: var(--main-gray);
  border-top: 4px solid var(--aqua-blue);
  margin: 0;
}

footer > p {
  margin: 1.8rem 4rem 1.8rem 1.8rem;
}

footer > p > a:hover {
  color: var(--main-white);
}

footer i {
  vertical-align: middle;
}

@media only screen and (max-width: 775px) {
  .nav1 {
    justify-content: space-evenly;
  }
  .nav-list {
    margin: 0;
  }
  .project-image {
    margin: 0 auto;
  }
  .contact-section {
    padding: 0 2rem;
    height: 91vh;
  }
  .form {
    font-size: 1.8rem;
    margin-top: -13rem;
    padding-bottom: 1em;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  #contact-a .text-fields .message-input {
    grid-area: message;
    height: 100px;
  }
  #contact-a .text-fields .text-input {
    padding: 0.5rem 1rem;
  }
  .message {
    margin-bottom: -5em;
    margin-top: -8em;
  }
  .contact-section-header {
    margin-top: 1.5em;
  }
  .subheading {
    font-size: 3.2rem;
  }
  footer {
    justify-content: space-around;
    font-size: 1.3rem;
    padding: 0.4rem;
  }
}

@media only screen and (max-width: 600px) {
  #letters {
    font-size: 6.24rem;
  }
  .logo {
    max-width: 110px;
  }
  .nav-list a {
    font-size: 2rem;
    padding-right: 1.5rem;
  }
  .projects-section-header {
    font-size: 2.75rem;
  }
  .bottom-line {
    margin-bottom: 1.5rem;
  }
  .contact-section-header {
    font-size: 2.75rem;
  }
  .subheading {
    font-size: 2.75rem;
  }
  .message {
    max-width: 415px;
    margin-top: -9em;
  }
  .message > p {
    font-size: 1.5rem;
  }
  .contact-section {
    height: 90vh;
  }

  #contact-a .text-fields {
    display: grid;
    grid-gap: 0.95rem;
    grid-template-areas:
      "name"
      "email"
      "subject"
      "phone"
      "message"
      "message";
    margin-bottom: -1rem;
  }
  .form {
    font-size: 1.5rem;
    margin-bottom: -8rem;
  }
}

@media only screen and (max-width: 400px) {
  .nav-list a {
    padding-right: 0.5rem;
  }
  .logo {
    max-width: 100px;
  }
  #letters {
    font-size: 5.5rem;
  }
  .welcome-section {
    background-image: url(images/bkgd5smallest.jpg);
  }
  .project-section-header {
    font-size: 2.6rem;
  }

  .container-3 {
    padding-top: 100%;
  }

  .bottom-line {
    width: 10rem;
  }
  .product > .level {
    font-size: 3rem;
  }
  .product > h2 {
    font-size: 3rem;
  }

  .product > ul > li {
    font-size: 1.9rem;
    padding: 3px 0;
  }

  #pnotes {
    max-width: 630px;
    margin: 2rem auto 2rem auto;
  }

  .pnotes {
    text-align: left;
    line-height: 2rem;
  }

  .indivnote {
    margin-top: 0;
    margin-bottom: 2.75rem;
  }

  #picons {
    font-size: 3.8rem;
    color: var(--aqua-blue);
    margin-bottom: 1.9rem;
    display: block;
    float: none;
  }

  .product {
    max-width: 275px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  .contact-section {
    height: 100vh;
  }
  .contact-section .bottom-line {
    width: 9rem;
  }
  .contact-section-header {
    font-size: 2.6rem;
    margin-top: -1em;
  }
  .subheading {
    font-size: 1.8rem;
  }
  .message {
    margin-top: -21.5em;
    margin-bottom: -9.5em;
  }
  .form {
    margin-top: -33em;
    margin-bottom: -25rem;
  }
  #contact-a .text-fields {
    grid-gap: 0.8rem;
    margin-top: 0.95rem;
    margin-bottom: -1.1rem;
  }
  #contact-a .text-fields .message-input {
    grid-area: message;
    height: 65px;
  }
}
